@font-face {
	font-family: 'Segoe UI';
	src: url('fonts/segoeui.ttf')  format('truetype');
}
@font-face {
	font-family: 'Segoe UI Bold';
	src: url('fonts/segoeuib.ttf')  format('truetype');
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffbf6;
  font-size: 15px;
}

p {
  font-size: 15px;
}

.note p {
  font-size: 75%;
}

.card.tool .card-text {
  font-size: 100%;
}

.card.tool .btn-crop {
  color: orange;
  border: 2px solid orange;
  width: 100px;
  font-size: 90%;
  font-weight: bold;
  border-radius: 50%;
}

.card.tool .btn-tree {
  color: green;
  border: 2px solid green;
  width: 100px;
  font-size: 90%;
  font-weight: bold;
  border-radius: 50%;
}
.card.tool .btn-livestock {
  color: darkblue;
  border: 2px solid darkblue;
  width: 100px;
  font-size: 90%;
  font-weight: bold;
  border-radius: 50%;
}
.card.tool .btn-people {
  color: darkgray;
  border: 2px solid darkgray;
  width: 100px;
  font-size: 90%;
  font-weight: bold;
  border-radius: 50%;
}
.card.tool .btn-natural {
  color: gold;
  border: 2px solid gold;
  width: 100px;
  font-size: 90%;
  font-weight: bold;
  border-radius: 50%;
}
.card.tool .btn-agroforestry {
  color: yellowgreen;
  border: 2px solid yellowgreen;
  width: 100px;
  font-size: 90%;
  font-weight: bold;
  border-radius: 50%;
}

.btn-small-title {
  font-size: 75%;
  color: darkgray;
  font-style: italic;
  margin-bottom: 0px;
}

.btn-digitaf {
  font-family: 'Segoe UI Bold';
  color: #253d5b;
  font-size: 140%;
}
.btn-digitaf:hover {
  text-decoration: underline;
}

.sorting select {
  margin-left: auto; 
  margin-right: 0;
  width: 20rem;
  font-size: 15px;
}

.sorting p {
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 0;
}

.h-fair-container {
  position: relative;
}
.h-fair {
  display: inline;
  height: 2vw;
}
.h-fair-title {
  margin: 0;
  padding: 0;
  font-size: 0.5vw;
  text-align: center;
}
.h-fair-score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5vw;
  color: white;
}

table.fair-score, table.fair-score tr, table.fair-score td {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
}

.rotate90 { transform: rotate(90deg); }
.rotate180 { transform: rotate(180deg); }
.rotate270 { transform: rotate(270deg); }

.card-img-top .tool-cover {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-50 {
  margin-bottom: 50px;
}
.card-header .btn-link {
  color: green;
  text-transform: uppercase;
  font-size: 60%;
  font-weight: bold;
}
.card-title {
  margin-bottom: 1.25rem;
  color: green;
}
.card-title a,
.card-title a:hover,
.card-title a:active,
.card-title a:visited {
  color: green;
}
.card-text {
  font-size: 75%;
}
.card-header {
  padding: 0;
  border-bottom: none;
  background-color: transparent;
}

.filters label {
  font-size: 70%;
  margin: 0;
  padding: 0;
}

.box {
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
}

.tool-cover,
.tool-img {
  background: #ccc;
}

.tool-img {
  max-height: 100px;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.accordion button[data-toggle="collapse"]::after {
  font-family: "FontAwesome";
	content: "\f107";
  position: absolute;
  top: 25px;
  right: 15px;
  transition: all 0.30s;

  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
}
.accordion button[data-toggle="collapse"]::after {
  top: 7px;
}
.accordion button[data-toggle="collapse"].collapsed::after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(0deg);
  -moz-transform:    rotate(0deg);
  -ms-transform:     rotate(0deg);
  -o-transform:      rotate(0deg);
  transform:         rotate(0deg);
}

.add-scroll {
  overflow: hidden;
}

.add-scroll > div {
  overflow-y: scroll;
}

.add-scroll > div.card-body {
  max-height: 160px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

#accordionex .form-control,
#accordionex .input-group-text {
  padding-top: 0px;
  padding-bottom: 0px;
  height: calc(1.5em + 2px);
}

a,
a:hover,
a:visited,
a:focus {
  color: green;
}