/* Fonts */
@font-face {
	font-family: 'Segoe UI';
	src: url('fonts/segoeui.ttf') format('truetype');
}
@font-face {
	font-family: 'Segoe UI Bold';
	src: url('fonts/segoeuib.ttf') format('truetype');
}

/* Body and general text styles */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffbf6;
  font-size: 14px; /* Adjusted base font size */
}

p {
  font-size: 14px; /* Adjusted base font size */
}

.note p {
  font-size: 80%; /* Adjusted note font size */
}

/* Tool card styles */
.card.tool {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.card.tool:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card.tool .card-body {
  padding: 15px;
}

.card.tool .card-title {
  margin-top: -27px;
  margin-bottom: 20px;
  color: green;
  font-size: 18px; /* Adjusted tool name font size */
  background-color: white;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(33, 33, 33, 0.5);
}

.card.tool .card-text {
  font-size: 14px; /* Adjusted tool description font size */
}

.btn-crop,
.btn-tree,
.btn-livestock,
.btn-people,
.btn-natural,
.btn-agroforestry {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 100px;
  margin-right: 5px;
}

.btn-crop { background-color: orange; }
.btn-tree { background-color: green; }
.btn-livestock { background-color: darkblue; }
.btn-people { background-color: darkgray; }
.btn-natural { background-color: gold; }
.btn-agroforestry { background-color: yellowgreen; }

/* Fair score styles */
.h-fair-container {
  position: relative;
}
.h-fair {
  display: inline-block;
  height: 2vw;
}
.h-fair-title {
  margin: 0;
  padding: 0;
  font-size: 0.8vw; /* Adjusted fair title font size */
  text-align: center;
}
.h-fair-score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8vw; /* Adjusted fair score font size */
  color: white;
}

/* Image styles */
.card.tool .card-img-top.tool-cover {
  width: 100%;
  height: 200px; /* Adjusted tool cover image height */
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.details-block {
  margin-bottom: 5px;
}
.details-block p:not(.btn-small-title) {
  margin-bottom: 0;
}


/* Small title styles */
.btn-small-title {
  font-size: 12px;
  color: darkgray;
  font-style: italic;
  margin-bottom: 5px;
}

/* Button hover styles */
.btn-digitaf {
  font-family: 'Segoe UI Bold';
  color: #253d5b;
  font-size: 18px;
  transition: text-decoration 0.3s;
}

.btn-digitaf:hover {
  text-decoration: underline;
}

/* Sorting styles */
.sorting select {
  margin-left: auto;
  margin-right: 0;
  width: 20rem;
  font-size: 14px; /* Adjusted sorting font size */
}

.sorting p {
  font-size: 14px; /* Adjusted sorting font size */
  margin-top: 7px;
  margin-bottom: 0;
}

table.fair-score, table.fair-score tr, table.fair-score td {
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 0px;
}

.rotate90 { transform: rotate(90deg); }
.rotate180 { transform: rotate(180deg); }
.rotate270 { transform: rotate(270deg); }
.mb-0 { margin-bottom: 0; }
.mb-50 { margin-bottom: 50px; }

/* Filtering */

.card-header .btn-link {
  color: green;
  text-transform: uppercase;
  font-size: 60%;
  font-weight: bold;
}

.card-title {
  margin-bottom: 1.25rem;
  color: green;
}
.card-title a,
.card-title a:hover,
.card-title a:active,
.card-title a:visited {
  color: green;
}
.card-text {
  font-size: 75%;
}
.card-header {
  padding: 0;
  border-bottom: none;
  background-color: transparent;
}

.filters label {
  font-size: 70%;
  margin: 0;
  padding: 0;
}

.tool-cover {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 128, 0, 0.05),
    rgba(0, 128, 0, 0.05) 20px,
    rgba(0, 128, 0, 0.07) 20px,
    rgba(0, 128, 0, 0.07) 40px
  );
}

.accordion button[data-toggle="collapse"]::after {
  font-family: "FontAwesome";
	content: "\f107";
  position: absolute;
  top: 25px;
  right: 15px;
  transition: all 0.30s;

  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
}
.accordion button[data-toggle="collapse"]::after {
  top: 7px;
}
.accordion button[data-toggle="collapse"].collapsed::after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(0deg);
  -moz-transform:    rotate(0deg);
  -ms-transform:     rotate(0deg);
  -o-transform:      rotate(0deg);
  transform:         rotate(0deg);
}

.add-scroll {
  overflow: hidden;
}

.add-scroll > div {
  overflow-y: scroll;
}

.add-scroll > div.card-body {
  max-height: 160px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

#accordionex .form-control,
#accordionex .input-group-text {
  padding-top: 0px;
  padding-bottom: 0px;
  height: calc(1.5em + 2px);
}

a,
a:hover,
a:visited,
a:focus {
  color: green;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.demo-video {
  max-height: 80px;
}

.score-bar {
  display: flex;
  margin-bottom: 0px;
  margin-bottom: 2px;
}

.bar {
  height: 15px;
  width: 80%;
  display: flex;
  text-align: left;
}
.bar p {
  margin-top: 2px;
  width: 25%;
  font-size: 10px;
  margin-left: 2px;
}
.label {
  margin-bottom: 0px;
  font-size: 12px;
  width: 20%;
}