<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /tools/dev/AF-tools-database
	RewriteRule ^tools/dev/AF-tools-database/index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /tools/dev/AF-tools-database/index.html [L]
	</IfModule>